*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    margin: 0;
    background: #1f2937;
}


.title{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 35px;
    padding: 25px 0px;
    font-weight: 800;
    border: 1px solid green;
}

.images{
    display: flex;
    border: 1px solid red;
    margin-top: 100px;
    padding: 50px;
    justify-content: space-around;

}


.box {
    background: white;
    text-align: center;
    border: 3px solid #3882f6;
    width: 150px;
    height: 150px;
    border-radius: 15px;
    box-shadow: 2px 4px 16px rgba(0,0,0,.2);
  
}